

*{
    margin: 0;
    padding: 0;
   
}
body{
    background-color: #d8e2dc;
    font-family: 'Lora', serif;   
}
button {
    background-color: #8e44ad;
    border: none;
    color: white;
    cursor: pointer;
    display: block;
    font-family: inherit;
    font-size: 1.1rem;
    width: 100%;
    padding: 1.3rem;
}

button:hover {
    background-color: #732d91;
}

button:focus {
    background-color: #5e3370;
    outline: none;
}
